/* reset */
* {
    margin: 0;
    padding: 0;
}

div {
    /* box model */
    width: 600px;
    height: 200px;
    line-height: 200px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /* decoratif */
    background-color: rgb(35, 118, 212);
}

h1 {
    color: aliceblue;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}