 section {
     margin: 50px auto;
     width: 600px;
     height: 600px;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     align-content: space-between;
 }

 div {
     width: 30%;
     height: 30%;
 }

 div img {
     width: 100%;
     height: 100%;
     object-fit: contain;
 }