
* {
    margin: 0;
    padding: 0;
}


section {
    width: 500px;
    margin: 0 auto;
}

header {
    width: 100%;
    aspect-ratio: 3/4;
}


header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media (min-width:768px){

    section {
        width: 900px;
    }
    header {
        aspect-ratio: 16/9;
    }
}

